In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup as BS

%matplotlib inline

In [3]:
brit_url = 'https://www.britannica.com/topic/United-States-House-of-Representatives-Seats-by-State-1787120'

response = requests.get(brit_url)

response

In [5]:
soup = BS(response.text)

districts = pd.read_html(str(soup.find('table')))[0]

districts.head()

        state  representatives
0     Alabama                7
1      Alaska                1
2     Arizona                9
3    Arkansas                4
4  California               53

In [6]:
districts.to_csv('../data/district_info.csv',
                index = False)