In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup as BS

%matplotlib inline

In [2]:
brit_url = 'https://www.britannica.com/topic/United-States-House-of-Representatives-Seats-by-State-1787120'

response = requests.get(brit_url)

response

In [3]:
soup = BS(response.text)

districts = pd.read_html(str(soup.find('table')))[0]

districts.head()

        state  representatives
0     Alabama                7
1      Alaska                1
2     Arizona                9
3    Arkansas                4
4  California               53

### Webscraping https://worldpopulationreview.com/states/state-abbreviations to get abbreviations

In [4]:
abbrev_url = 'https://worldpopulationreview.com/states/state-abbreviations'

abbrev_response = requests.get(abbrev_url)

response

In [8]:
soup = BS(abbrev_response.text)

abbrev = pd.read_html(str(soup.find('table')))[0]

In [9]:
abbrev

                   State Abbreviation Code
0                Alabama         Ala.   AL
1                 Alaska       Alaska   AK
2                Arizona        Ariz.   AZ
3               Arkansas         Ark.   AR
4             California       Calif.   CA
5               Colorado        Colo.   CO
6            Connecticut        Conn.   CT
7               Delaware         Del.   DE
8   District of Columbia         D.C.   DC
9                Florida         Fla.   FL
10               Georgia          Ga.   GA
11                Hawaii       Hawaii   HI
12                 Idaho        Idaho   ID
13              Illinois         Ill.   IL
14               Indiana         Ind.   IN
15                  Iowa         Iowa   IA
16                Kansas        Kans.   KS
17              Kentucky          Ky.   KY
18             Louisiana          La.   LA
19                 Maine        Maine   ME
20              Maryland          Md.   MD
21         Massachusetts        Mass.   MA
22              Michigan        Mich.   MI
23             Minnesota        Minn.   MN
24           Mississippi        Miss.   MS
25              Missouri          Mo.   MO
26               Montana        Mont.   MT
27              Nebraska        Nebr.   NE
28                Nevada         Nev.   NV
29         New Hampshire         N.H.   NH
30            New Jersey         N.J.   NJ
31            New Mexico         N.M.   NM
32              New York         N.Y.   NY
33        North Carolina         N.C.   NC
34          North Dakota         N.D.   ND
35                  Ohio         Ohio   OH
36              Oklahoma        Okla.   OK
37                Oregon         Ore.   OR
38          Pennsylvania          Pa.   PA
39          Rhode Island         R.I.   RI
40        South Carolina         S.C.   SC
41          South Dakota         S.D.   SD
42             Tennessee        Tenn.   TN
43                 Texas         Tex.   TX
44                  Utah         Utah   UT
45               Vermont          Vt.   VT
46              Virginia          Va.   VA
47            Washington        Wash.   WA
48         West Virginia        W.Va.   WV
49             Wisconsin         Wis.   WI
50               Wyoming         Wyo.   WY

In [11]:
districts = districts.merge(abbrev,
                           left_on = 'state',
                           right_on = 'State')

In [17]:
districts = districts.drop(['State', 'Abbreviation'],
                           axis = 1)

In [18]:
districts.to_csv('../data/district_info.csv',
                index = False)