In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup as BS
import re

%matplotlib inline

## Getting the first district's info

In [2]:
url = 'https://www.opensecrets.org/races/summary?cycle=2020&id=TN02&spec=N'

response = requests.get(url)

response

In [3]:
soup = BS(response.text)

In [4]:
tn_02 = pd.read_html(str(soup.find('table')))[0]

tn_02.head()

,Candidate,Raised,Spent,Cash on Hand,Last Report
0,Tim Burchett (R) • Incumbent • Winner,"$1,336,276","$878,488","$593,678",12/31/2020
1,Renee Hoyos (D),"$812,784","$816,793",$210,12/31/2020

### Dropping columns

In [5]:
tn_02 = (tn_02.drop(columns = ['Cash on Hand',
                               'Last Report']))

### Getting party, incumbent, and winner into their own columns.

In [6]:
tn_02['party'] = tn_02['Candidate'].str.extract(re.compile(r'\\(\\)'))


#re.findall(r'[DR]', tn_02['Candidate'])

In [16]:
 tn_02['Candidate'][1].split()[6]

IndexError: list index out of range

In [8]:
tn_02

                                Candidate      Raised     Spent party
0  Tim Burchett (R)  • Incumbent • Winner  $1,336,276  $878,488   NaN
1                         Renee Hoyos (D)    $812,784  $816,793   NaN