Notebook created on 16 October 2021 by Chris Mulvey  
For NSS Data Science Bootcamp

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup as BS
from tqdm.notebook import tqdm
import time

### Working out a function to get all of the districts in a state

#### Reading in state and district info from a previous webscrape

In [28]:
districts = pd.read_csv('../data/district_info.csv')

districts.head()

        state  representatives Code
0     Alabama                7   AL
1      Alaska                1   AK
2     Arizona                9   AZ
3    Arkansas                4   AR
4  California               53   CA

### The URL has state and district number in it `id=TN02`

In [ ]:
url = 'https://www.opensecrets.org/races/summary?cycle=2020&id=TN02&spec=N'

In [ ]:
url = 'https://www.opensecrets.org/races/summary?cycle=2020&id='+ state + district'&spec=N'

### Function to get candidate info for a single state and district

In [45]:
def get_district_candidates(state, district):
    url = 'https://www.opensecrets.org/races/summary?cycle=2020&id='+ state + district + '&spec=N'
    response = requests.get(url)
    soup = BS(response.text)
    try:
        candidates = pd.read_html(str(soup.find('table')))[0]
    except:
        print(response.headers)
    candidates['state'] = state
    candidates['district'] = district
    
    return candidates

In [34]:
get_district_candidates('TN', str('0' + '3'))

,Candidate,Raised,Spent,Cash on Hand,Last Report,state,district
0,Chuck Fleischmann (R) • Incumbent • Winner,"$1,051,653","$381,411","$1,880,341",12/31/2020,TN,03
1,Meg Gorman (D),"$85,843","$77,760","$8,083",12/31/2020,TN,03

### Now to bring in more states

In [43]:
state_dist = pd.DataFrame()

for index in tqdm(districts.index):
    state = districts['Code'][index]
    dist_no = districts['representatives'][index]
    
    if index == 10:
        time.sleep(70)
    elif index == 20:
        time.sleep(70)
    elif index == 30:
        time.sleep(70)
    elif index == 40:
        time.sleep(70)
    
    for i in range(1, dist_no + 1):
        if i < 10:
            i = '0' + str(i)
            
        state_dist = state_dist.append(get_district_candidates(str(state), str(i)),
                                      ignore_index = True)

  0%|          | 0/50 [00:00<?, ?it/s]

In [46]:
state_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Candidate     894 non-null    object
 1   Raised        894 non-null    object
 2   Spent         894 non-null    object
 3   Cash on Hand  894 non-null    object
 4   Last Report   894 non-null    object
 5   state         894 non-null    object
 6   district      894 non-null    object
dtypes: object(7)
memory usage: 49.0+ KB

In [49]:
state_dist.to_csv('../data/all_state.csv',
                 index = False)

### Troubleshooting error

In [18]:
districts.loc[43]

state              Utah
representatives       4
Name: 43, dtype: object

In [ ]:
for i in range(1, 4):
    if i < 10:
        i = '0' + str(i)
        
    print(get_district_candidates('UT', str(i)))

In [26]:
i = 3

if i < 10:
    i = '0' + str(i)
    print(str(i))

03