In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup as BS
import re

%matplotlib inline

## Getting the first district's info

In [2]:
url = 'https://www.opensecrets.org/races/summary?cycle=2020&id=TN02&spec=N'

response = requests.get(url)

response

In [3]:
soup = BS(response.text)

In [4]:
tn_02 = pd.read_html(str(soup.find('table')))[0]

tn_02.head()

,Candidate,Raised,Spent,Cash on Hand,Last Report
0,Tim Burchett (R) • Incumbent • Winner,"$1,336,276","$878,488","$593,678",12/31/2020
1,Renee Hoyos (D),"$812,784","$816,793",$210,12/31/2020

### Dropping columns

In [5]:
tn_02 = (tn_02.drop(columns = ['Cash on Hand',
                               'Last Report']))

### Getting party, incumbent, and winner into their own columns.

In [ ]:
tn_02['party'] = tn_02['Candidate'].str.extract(r'\((\w)\)')
tn_02['incumbent'] = tn_02['Candidate'].str.extract(r'([I]\w+)')
tn_02['winner'] = tn_02['Candidate'].str.extract(r'([W]\w+)')
tn_02['candidate'] = tn_02['Candidate'].str.extract(r'(^\w+\s\w+)')

tn_02 = tn_02.drop('Candidate',
                   axis = 1)

In [41]:
tn_02 = tn_02[['candidate',
                'party',
                'incumbent',
                'winner',
                'Raised',
                'Spent']]
         
tn_02 = tn_02.rename(columns = {
             'Raised': 'raised',
             'Spent': 'spent'
         })

In [42]:
tn_02

      candidate party  incumbent  winner      raised     spent
0  Tim Burchett     R  Incumbent  Winner  $1,336,276  $878,488
1   Renee Hoyos     D        NaN     NaN    $812,784  $816,793

In [48]:
tn_02['raised'] = tn_02['raised'].str.replace(r'\$|,', '', regex=True).astype('int64')
tn_02['spent'] = tn_02['spent'].str.replace(r'\$|,', '', regex=True).astype('int64')

AttributeError: Can only use .str accessor with string values!

In [47]:
tn_02.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   candidate  2 non-null      object
 1   party      2 non-null      object
 2   incumbent  1 non-null      object
 3   winner     1 non-null      object
 4   raised     2 non-null      int32
 5   spent      2 non-null      int32
dtypes: int32(2), object(4)
memory usage: 96.0+ bytes

In [14]:
tn_02['Candidate'].str.extract(r'([W]\w+)')

        0
0  Winner
1     NaN